<!DOCTYPE HTML>
<html>
    <head>
        <th:block th:replace="navbar :: head"></th:block>
    </head>
    <body>
        <div th:replace="navbar :: header"></div>
        <div class="container-fluid text-center" style="color:white" id="errorContainer">
            <div class="row">
                <div class="col-4">
                    <h1 style="font-family:LogoFont">GBOARD</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <h2>Aquí no hay nada de nada.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <h4>No sabemos qué estabas buscando, pero ya no se encuentra en esta dirección, a menos que se tratara de esta 
                        página de error. En ese caso, ¡felicidades! No cabe duda de que la has encontrado.
                    </h4>
                </div>
            </div>
        </div>
        
        
        
	</body>
</html>