<!DOCTYPE HTML>
<html>
<head>
	
</head>
<body>
	<div class="container-fluid" th:fragment="modalogin">
		<div class="row">
			<div class="col-3 offset-4">
				<input class="form-control form-control-lg" type="text" id="inputNick"
					placeholder="Nickname">
			</div>
			<div class="col-3 offset-4">
				<input class="form-control form-control-lg" type="text" id="inputPass"
					placeholder="Password">
			</div>
		</div>
		<div class="row">
			<div class="col-1">
				<button type="button" class="btn-lg btn-outline-light" name="button"
					onclick="apiclient.getCredentials($('#inputNick').val(),$('#inputPass').val())">Buscar</button>
			</div>
		</div>
	</div>
</body>
</html>