<!DOCTYPE HTML>
<html>
<head>

</head>
<body>
	<div class="container-fluid" th:fragment="modalogin">
		<form action="/login" method="post" id="login">
			<div class="row">
				<div class="col-6">
					<input class="form-control form-control-lg" type="text"
						name="inputNick" placeholder="Usuario">
				</div>
			</div>
			<div class="row">
				<div class="col-6" style="margin-top: 5px">
					<input class="form-control form-control-lg" type="password"
						name="inputPass" placeholder="Contraseña">
				</div>
				<div class="col-4" style="text-align: right; margin-top: 10px">
					<input type="submit" value="Acceder" class="btn btn-outline-dark" />
					<!-- <button type="button" onclick="app.getCredentials()"
					class="btn btn-outline-dark">Acceder</button> -->
				</div>
			</div>
		</form>
	</div>
</body>
</html>