<!DOCTYPE HTML>
<html>
    <head>
    	<th:block th:replace="navbar :: head"></th:block>
    </head>
    <body style="background: #2c11d21f;">
    	<div th:replace="navbar :: header"></div>
		<br/>
		<div class="container-fluid">
			<div class="row">
				
				<div class="col-12; col-sm-4">
					<div class="card" style="width: auto;">
					  <div class="card-body" style="
							background-color: #2c11d254;
							border-style: unset;">
						<h5 class="card-title">Historial de salas</h5>
						<h6 class="card-subtitle mb-2 text-muted">salas a las que he pertenecido</h6>
						<p class="card-text">Se podrán visualizar las salas a las que ha pertenecido durante el tiempo que hace parte de GBoard</p>
					  </div>
					</div>
					<br/>
					<div class="card" style="width: auto;">
					  <div class="card-body" style="
							background-color: #2c11d254;
							border-style: unset;">
						<h5 class="card-title">Salas que he administrado</h5>
						<p class="card-text">Se podrán visualizar las salas en las cuales he sido administrador del tablero.</p>
					  </div>
					</div>	
				</div>
				
				<div class="col-12; col-sm-8">
					
					<div class="card mb-3" style="max-width: 540px;">
					  <div class="row no-gutters">
						<div class="col-md-4">
						  <img src="..." class="card-img" alt="...">
						</div>
						<div class="col-md-8">
						  <div class="card-body">
							<h1 class="card-title"><b id="name"></b></h1>
							<h5 class="card-text"><i id="nickname"></i></h5>
							<h5 class="card-text"><small class="text-muted" id="lastDate"></small></h5>
						  </div>
						</div>
					  </div>
					</div>
					
					
					<div class="card text-center">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
						  <li class="nav-item">
							<a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true" style="font-style: italic;font-size: larger;font-weight: 500;">¿Quién soy?</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" id="more-tab" data-toggle="tab" href="#more" role="tab" aria-controls="more" aria-selected="false" style="font-style: italic;font-size: larger;font-weight: 500;">Más sobre mi</a>
						  </li>
						</ul>
						<div class="tab-content" id="myTabContent">
						  <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
							</br>
							<div class="col-sm-1"></div>
							<div class="col-sm-11">
								<p class="lead" id="info-profile" style='text-align: left;font-style: italic;font-size: inherit;font-weight: 400;'>
									<div id="profile-text"></div>
								</p>
							</div>
						  </div>
						  <div class="tab-pane fade" id="more" role="tabpanel" aria-labelledby="more-tab">
							</br>
							<dl class="row">
								<dd class="col-sm-1"></dd>
								<dt class="col-sm-3" style='text-align: left;font-style: italic;font-size: inherit;font-weight: bolder;'>Nombre</dt>
								<dd class="col-sm-8" id="more-name" style='text-align: left;font-style: italic;font-size: inherit;font-weight: 400;'></dd>
								
								<dd class="col-sm-1"></dd>
								<dt class="col-sm-3" style='text-align: left;font-style: italic;font-size: inherit;font-weight: bolder;'>Sexo</dt>
								<dd class="col-sm-8" id="more-gender" style='text-align: left;font-style: italic;font-size: inherit;font-weight: 400;'></dd>
								
								<dd class="col-sm-1"></dd>
								<dt class="col-sm-3" style='text-align: left;font-style: italic;font-size: inherit;font-weight: bolder;'>Sitio web</dt>
								<dd class="col-sm-8" id="more-web" style='text-align: left;font-style: italic;font-size: inherit;font-weight: 400;'></dd>
								
								<dd class="col-sm-1"></dd>
								<dt class="col-sm-3" style='text-align: left;font-style: italic;font-size: inherit;font-weight: bolder;'>Correo electrónico</dt>
								<dd class="col-sm-8" id="more-mail" style='text-align: left;font-style: italic;font-size: inherit;font-weight: 400;'></dd>
								
								<dd class="col-sm-1"></dd>
								<dt class="col-sm-3" style='text-align: left;font-style: italic;font-size: inherit;font-weight: bolder;'>Ubicación</dt>
								<dd class="col-sm-8" id="more-location" style='text-align: left;font-style: italic;font-size: inherit;font-weight: 400;'></dd>

							</dl>
						  </div>
						</div>
					</div>
					
				</div>
			</div>
		  <!-- Content here -->
				
			
			</div>
		
	</body>
</html>