<!DOCTYPE HTML>
<html>
    <head>
    	<th:block th:replace="navbar :: head"></th:block>
    </head>
    <body style="background: #2c11d21f;">
    	<div th:replace="navbar :: header"></div>
		<br/>
		<div class="container-fluid">
			<div class="row">
				
				<div class="col-4">
					<div class="card" style="width: auto;">
					  <div class="card-body" style="
							background-color: #2c11d254;
							border-style: unset;">
						<h5 class="card-title">Historial de salas</h5>
						<h6 class="card-subtitle mb-2 text-muted">salas a las que he pertenecido</h6>
						<p class="card-text">Se podrán visualizar las salas a las que ha pertenecido durante el tiempo que hace parte de GBoard</p>
					  </div>
					</div>
					<br/>
					<div class="card" style="width: auto;">
					  <div class="card-body" style="
							background-color: #2c11d254;
							border-style: unset;">
						<h5 class="card-title">Salas que he administrado</h5>
						<p class="card-text">Se podrán visualizar las salas en las cuales he sido administrador del tablero.</p>
					  </div>
					</div>	
				</div>
				
				<div class="col-8">
					
					<div class="card mb-3" style="max-width: 540px;">
					  <div class="row no-gutters">
						<div class="col-md-4">
						  <img src="..." class="card-img" alt="...">
						</div>
						<div class="col-md-8">
						  <div class="card-body">
							<h5 class="card-title">Nombre de la persona</h5>
							<p class="card-text">nickname</p>
							<p class="card-text"><small class="text-muted">Ultima vez activo</small></p>
						  </div>
						</div>
					  </div>
					</div>
					
					
					<div class="card text-center">
					  <div class="card-header" >
						<ul class="nav nav-tabs card-header-tabs">
						  <li class="nav-item">
							<a class="nav-link active" href="#">¿Quién soy?</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="#">Intereses</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Mas sobre mi</a>
						  </li>
						</ul>
					  </div>
					  <div class="card-body" style="
							background-color: #2c11d254;
							border-style: unset;">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					  </div>
					 
					</div>
					
					
				</div>
			</div>
		  <!-- Content here -->
		</div>
	</body>
</html>