<!DOCTYPE HTML>
<html>

<head>
    <th:block th:replace="navbar :: head"></th:block>
    <link rel="stylesheet" href="/css/search.css">
    <script src="/js/apiSearch.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>

<body>
    <div th:replace="navbar :: header"></div>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1 id="serachTitle">DESCUBRE TU SALA</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-8 offset-2">
                <form id="searchForm">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg"
                            placeholder="Escribe para buscar una sala" name="createName" id="searchInput">
                        <div class="input-group-append search">
                            <button class="btn btn-success" type="button" id="sendCreate">Crear Sala</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" id="roomsContent"></div>
        <div class="row">
            <div class="col-4 offset-4 text-center loader" id="loader">
                <i class="fas fa-sync fa-spin fa-7x"></i>
            </div>
        </div>
    </div>

</body>

</html>