<!DOCTYPE HTML>
<html>
<head>

</head>
<body>
	<div class="container" th:fragment="modalsignup">
		
			<div class="row">
				<div class="col-6">
					<input class="form-control form-control-lg" type="text"
						name="inputNick" placeholder="Nombre">
				</div>
			</div>
			<div class="row">
				<div class="col-6" style="margin-top: 5px">
					<input class="form-control form-control-lg" type="password"
						name="inputPass" placeholder="LOLOLO">
				</div>
				<!--  <div class="col-4" style="text-align: right; margin-top: 10px">
					<input type="submit" value="Acceder" class="btn btn-outline-dark" />
				</div>-->
			</div>
		
	</div>
</body>
</html>