<!DOCTYPE HTML>
<html>
<head>

</head>
<body>
	<div class="container" th:fragment="modalsignup">
		<div class="alert alert-danger" role="alert" id="modalError" style="display: none"></div>
		<form action="/signup" method="post" id="signup">
			<h5 class="modal-title" id="exampleModalLongTitle">Información</h5>
			<div class="row">
				<div class="col-6">
					<input class="form-control form-control-lg" type="text"
						name="inputName" placeholder="Nombre (s)">
				</div>
				<div class="col-6">
					<input class="form-control form-control-lg" type="text"
						name="inputLast" placeholder="Apellidos">
				</div>
			</div>
			<h5 class="modal-title" id="exampleModalLongTitle">Usuario</h5>
			<div class="row">
				<div class="col-6" style="margin-top: 5px">
					<input class="form-control form-control-lg" type="text"
						name="inputNick" placeholder="Nombre de usuario">
				</div>
				<div class="col-6" style="margin-top: 5px">
					<input class="form-control form-control-lg" type="password"
						name="inputPass" placeholder="Contraseña">
				</div>
			</div>
			<div class="row">
				<div class="col-4" style="text-align: right; margin-top: 10px">
					<input type="submit" value="Registrarse" class="btn btn-outline-dark" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>