<!DOCTYPE HTML>
<html>

<head>
  <th:block th:replace="navbar :: head"></th:block>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script src="/js/hpack.js"></script>

  <link href="/css/chat.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/global.css" />
  <script src="/js/chat.js"></script>
</head>

<body>
  <div th:replace="navbar :: header"></div>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <a class="btn btn-light"  id="drawing-move">
          <i class="far fa-hand-paper"></i>
        </a>
        <a class="btn btn-light"  id="drawing-mode">
          <i class="fas fa-pencil-alt"></i>
        </a>
        <a class="btn btn-light" >
          <i class="fas fa-eraser"></i>
        </a>
        <a class="btn btn-light" id="drawing-circle">
          <i class="far fa-circle"></i>
        </a>
        <a class="btn btn-light" id="drawing-square">
          <i class="far fa-square"></i>
        </a>
        <a class="btn btn-light" id="drawing-triangle">
          <i class="fas fa-caret-up fa-lg"></i>
        </a>
        <a class="btn btn-light" id="drawing-text">
          <i class="fas fa-font"></i>
        </a>
        <a class="btn btn-light" id="drawing-image">
          <i class="far fa-image"></i>
        </a>
        <a class="btn btn-light"  id="clear-canvas">
          <i class="fas fa-trash-alt"></i>
        </a>
        <a class="btn btn-light" id="drawing-upload">
          <i class="fas fa-file-upload"></i>
        </a>
        <a class="btn btn-light" id="drawig-download">
          <i class="fas fa-file-download"></i>
        </a>
        
      </div>
    </div>
    <div class="row">
      <div class="col-8" id="boardContainer">
        <canvas id="c"></canvas>
      </div>

      <!-- CHAT CONTAINER-->
      <div class="col-4" id="chatContainer">

        <div class="chat_window" >
          <div class="navbar" style="height: 10%;">
            <a class="navbar-brand" href="/" style="color: #fff;">CHAT</a>
          </div>
          <ul class="messages"></ul>
          <div class="bottom_wrapper clearfix">
            <div class="row">
              <div class="message_input_wrapper col-9">
                <input id="message_text" class="message_input" placeholder="Escribe tu mensaje ..." />
              </div>
              <div class="col-2">
                <button onclick="chat.send()" class="btn btn-success" type="button">Enviar</button>
              </div>
            </div>
            <button onclick="chat.connect()" class="btn btn-info" type="button">Conectarme</button>
          </div>
        </div>

        <div id="message_template" class="message_template">
          <li class="message">
            <div class="avatar"></div>
            <div class="text_wrapper">
              <div class="text"></div>
            </div>
          </li>
        </div>

      </div>

    </div>
    <div class="row">
    </div>



    <div style="display: inline-block; margin-left: 10px">

      <div id="drawing-mode-options">
        <label for="drawing-line-width">Line width:</label>
        <span class="info">30</span><input type="range" value="5" min="0" max="150" id="drawing-line-width"><br>

        <label for="drawing-color">Line color:</label>
        <input type="color" value="#FFFFFF" id="drawing-color"><br>
      </div>
    </div>
    <script src="/js/fabric.js" onload="true"></script>
    <script src="/js/apiBoard.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>