<!DOCTYPE HTML>
<html>
    <head>
    	<th:block th:replace="navbar :: head"></th:block>
        <link rel="stylesheet" href="drawerJS/fonts/font-awesome/font-awesome.min.css" />
        <link rel="stylesheet" href="drawerJS/drawerJs/drawerJs.min.css" />
        <style>
            #canvas-editor {
                margin-top: 50px;
                margin-left: 50px;
                position: fixed;
            }
        </style>
    </head>
    <body>
    	<div th:replace="navbar :: header"></div>
		</br>
		<p style='text-align: left;font-style: italic;font-size: inherit;font-weight: 400;'>
			En el siguiente espacio podra colocar el nombre de la sala a la que desea conectarse.
		</p>
		<div>
			<div class="row">
				<div class="col-3">
					<input id="room-name" type="text"class="form-control"/></h1>
				</div>
				<div class="col-4">
					<button id= "room-name-button" type="button" class="btn btn-outline-info form-control" onclick="connect()" >Conectarse</button><br/>
				</div>
			</div>
		</div>
		</br>
    	<button id="download" class="btn btn-outline-primary" onclick="drawerBoard.download()">Guardar tablero</button>
    	<button id="upload" class="btn btn-outline-secondary" onclick="drawerBoard.upload()">Cargar tablero</button>
        <div id="canvas-editor"></div>
        <script src="drawerJS/jQuery/jquery-1.10.1.min.js"></script>
        <script src="drawerJS/drawerJs/drawerJs.standalone.min.js"></script>
        <script src="drawerJS/drawerJs/drawerLocalization.js"></script>
        <script src="drawerJS/drawerJsConfig.js"></script>
        <script src="/js/drawerBoard.js"></script>
        <script src="/js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    </body>
</html>
